.home {
    margin: '50px';
    padding: '0px 100px 0px 100px';
}

.background {
    height: 100vh;
    background-color: #ebebeb;
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    padding: 50px;
    margin: 0px 20px 20px 20px;
}

.container_main {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.container_trans {
    margin: auto;
}

.card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    padding: 40px;
    width: 70%;
    margin: 0px 10px 5px 10px;
}

.notifications{
    font-size: 40px;
    font-weight: 600;
    color: #46B47F;
}

.table{
    border:0px solid white;
}

.record {
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(255, 255, 255);
}

.item {
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0 10px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(255, 255, 255);
}

.item:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 8px solid #46B47F;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}



.record:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 8px solid #46B47F;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


.btnGreen {
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 25px;
    font-size: 15px;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
    background-color: #46B47F;
}

.btnGreen:hover {
    background-color: #6DD19C;
    color:#2b2b2b;
}



.btnGreen:active
 {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

